* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #2c3e50;
  
}

body {
  background-color: ffffff;
}

.navbar {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  z-index: 2000 !important;

  background-color: rgba(255, 255, 255, 0.1) !important;
  backdrop-filter: blur(10px);
  border: none !important;
  height: 70px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.navbar a {
  font-size: 20px !important;
}

.contenedor-servicios {
    padding-top: 120px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f8f9fa;
    padding-bottom: 50px;
    padding-left: 15px;
    padding-right: 15px; 
    
    
    
}

.contenedor-servicios .card {
    width: 120% !important;
    max-width: 1200px !important; 
    margin-bottom: 40px !important; 
    border: none !important;
    border-radius: 15px !important;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1) !important;
    overflow: hidden; 
    background-color: #ffffff !important;
}


.card-img-top, .img-fluid {
    object-fit: cover; 
    height: 100%;     
}

.card-title {
    color: #3498db;   
    font-weight: bold;
    margin-bottom: 15px;
}

.card-text {
    font-size: 1.1rem; 
    color: #555;
    line-height: 1.6;
}

.contenedor-servicios .row {
    align-items: center; 
    height: 100%;
}

